<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shushi restaurant</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
   <div class="__container">
      @@include('./blocks/header.html')
      <main class="main">
         <div class="banner-slider">
            <div class="banner-slider__container">
               <div class="banner-slider__wrapper">
                  <div class="banner-slider__slide bnr-slide">
                     <div class="bnr-slide__text-container">
                        <div class="bnr-slide__text">
                           <p>Высокоточное изготовление изделий из металла по чертежам</p>
                        </div>
                     </div>
                  </div>
                  <div class="banner-slider__slide bnr-slide">
                     <div class="bnr-slide__text-container">
                        <div class="bnr-slide__text">
                           <p>Высокоточное изготовление изделий из металла по чертежам</p>
                        </div>
                     </div>
                  </div>
                  <div class="banner-slider__slide bnr-slide">
                     <div class="bnr-slide__text-container">
                        <div class="bnr-slide__text">
                           <p>Высокоточное изготовление изделий из металла по чертежам</p>
                        </div>
                     </div>
                  </div>
                  <div class="banner-slider__slide bnr-slide">
                     <div class="bnr-slide__text-container">
                        <div class="bnr-slide__text">
                           <p>Высокоточное изготовление изделий из металла по чертежам</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="banner-slider__pagination"></div>
         </div>
         @@include('./blocks/services.html')
         @@include('./blocks/aboutus.html')
      </main>
      @@include('./blocks/footer.html')
   </div>
   <script type='text/javascript' src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <script src='js/script.js'></script>

</body>

</html>