@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500);

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  width: 1180px;
  margin: auto;
  padding: 0 16px 11px 16px;
  background: #ffffff;
  position: relative;
}

.header__wrapper {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__logo {
  position: absolute;
  left: 0;
  padding-top: 5px;
  height: 100%;
}

.header__nav {
  margin: 0 auto;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.header__nav.active {
  top: 0;
}

.header__search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  height: 41px;
  bottom: -3px;
  right: 78px;
  padding-right: 42px;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  overflow: hidden;
}

.header__search input {
  width: 0;
  padding: 0;
  -webkit-transition: width 0.5s ease, padding 0.5s ease;
  -o-transition: width 0.5s ease, padding 0.5s ease;
  transition: width 0.5s ease, padding 0.5s ease;
  background: #f1f1f1;
}

.header__search button {
  position: absolute;
  padding: 0 12px;
  right: 0;
  height: 100%;
  background: inherit;
}

.header__search.active {
  -webkit-transform: translateY(49px);
  -ms-transform: translateY(49px);
  transform: translateY(49px);
}

.header__search.active input.active {
  width: 278px;
  padding: 0 0 0 30px;
}

.header__search.active button {
  background: #f1f1f1;
}

.header__lang {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: 11px;
  padding-bottom: 9px;
}

.header__burger {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 4;
  margin-left: auto;
  width: 26px;
  height: 18px;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3e3e3e;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

.header__burger.active::after {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__burger.active span {
  opacity: 0;
}

.h-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #3e3e3e;
}

.h-nav__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  height: 100%;
  padding: 0 30px 9px;
}

.h-nav__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: rgba(62, 62, 62, 0.22);
}

.h-nav__item:first-child::before {
  display: none;
}

.h-nav__item a {
  position: relative;
}

.h-nav__item a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -10px;
  background-color: rgba(228, 181, 107, 0.8);
  display: none;
}

.h-nav__item a:hover:before,
.h-nav__item a.active:before {
  display: block;
}

.lang-select__item {
  cursor: pointer;
  width: 31px;
}

.dropdown__wrapper .lang-select__item {
  padding-bottom: 15px;
}

.lang-select .same-as-selected {
  display: none;
}

.service-select__item {
  cursor: pointer;
}

.service-select__item:hover {
  color: #ffffff;
}

.dropdown__wrapper .service-select__item {
  padding-bottom: 15px;
}

.service-select .dropdown__wrapper {
  background-color: rgba(228, 181, 107, 0.8);
  top: 100%;
  left: 0;
  right: 0;
}

body.lock {
  overflow: hidden;
}

.footer {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  width: 1180px;
  margin-top: 20px;
}

.footer__list {
  height: 150px;
  margin-left: -60px;
}

.footer__section-name {
  padding-bottom: 15px;
  color: #3e3e3e;
  font-size: 18px;
}

.footer__about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__list-item {
  padding-top: 17px;
  padding-left: 60px;
  font-weight: 500;
  font-size: 16px;
  color: #aeaeae;
}

.footer__list-item a {
  position: relative;
}

.footer__list-item a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -5px;
  background-color: rgba(228, 181, 107, 0.8);
  display: none;
}

.footer__list-item a:hover:before,
.footer__list-item a.active:before {
  display: block;
}

.footer__services {
  margin-left: auto;
  margin-right: 120px;
}

.footer__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__contacts {
  margin-left: auto;
}

.footer__contacts .footer__section-name {
  padding-bottom: 9px;
}

.footer__contacts-list {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: #3e3e3e;
}

.footer__contacts-list .cl-address {
  line-height: 21px;
}

.footer__contacts-list .cl-schedule {
  padding-top: 15px;
}

.footer__contacts-list .cl-phone {
  padding-top: 15px;
}

.footer__socials {
  padding-top: 15px;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__socials a {
  display: inline-block;
  margin-right: 15px;
}

.footer__socials a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.footer__copyright {
  margin: 50px 0 20px 0;
  font-size: 14px;
  text-align: center;
  color: #3e3e3e;
  font-weight: 500;
}

.footer__copyright p:last-child {
  padding-top: 3px;
  font-weight: bold;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 16px;
}

.services__container {
  margin: auto;
  width: 1180px;
}

.services__wrapper {
  margin: -5px;
}

.services__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  padding: 5px;
}

.services__btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc( 330px + 50 * ((100vw - 360px) /1000));
  margin: calc( 15px + 5 * ((100vw - 360px) /1000)) 0 10px 0;
  padding: 10px 30px;
  background: #454647;
  font-weight: 500;
  font-size: calc( 14px + 6 * ((100vw - 360px) /1000));
  border: 2px solid #454647;
  color: #ffffff;
}

.services__btn:hover {
  border: 2px solid #ac6e0b;
  color: #e4b56b;
}

.vehicles__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

.service {
  position: relative;
  color: #ffffff;
}

.service:hover {
  margin: -2px;
  border: 2px solid #ac6e0b;
  color: #e4b56b;
}

.service__text-container {
  background: rgba(62, 62, 62, 0.9);
  position: absolute;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(150px + 183 * ((100vw - 360px) /1040));
  padding-left: calc(4px + 11 * ((100vw - 360px) /1040));
  top: calc(20px + 10 * ((100vw - 360px) /1040));
  left: 0;
  overflow: hidden;
  height: calc(36px + 20 * ((100vw - 360px) /1040));
}

.service__text-container::after {
  content: "";
  height: 100%;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: calc(10px + 3 * ((100vw - 360px) /1040));
  width: 2px;
  background: #e4b56b;
}

.service__text {
  font-weight: 500;
  line-height: 1;
  font-size: calc(12px + 8 * ((100vw - 360px) /1040));
}

.gear-bg__gr-1 .gear-bg__small {
  top: 430px;
  left: 20px;
}

.gear-bg__gr-1 .gear-bg__medium {
  top: 200px;
  left: 10px;
}

.gear-bg__gr-1 .gear-bg__large {
  top: 200px;
  left: 150px;
}

.gear-bg__gr-2 .gear-bg__small {
  top: 175px;
  right: 10px;
}

.gear-bg__gr-2 .gear-bg__medium {
  top: 375px;
  right: 45px;
}

.gear-bg__gr-2 .gear-bg__large {
  top: 100px;
  right: 175px;
}

.gear-bg__small {
  position: absolute;
  width: 180px;
  height: 180px;
}

.gear-bg__medium {
  position: absolute;
  width: 210px;
  height: 210px;
}

.gear-bg__large {
  position: absolute;
  width: 370px;
  height: 370px;
}

.aboutus {
  padding: 0 16px;
}

.aboutus__chapter {
  position: relative;
  height: calc(236px + 144 * ((100vw - 360px) /1040));
}

.aboutus__text-container {
  background: rgba(62, 62, 62, 0.9);
  position: absolute;
  width: calc(326px + 424 * ((100vw - 360px) /1040));
  height: calc(180px + 80 * ((100vw - 360px) /1040));
  top: 50%;
  text-align: left;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aboutus__text-container::after {
  content: "";
  position: absolute;
  top: 0;
  height: calc(100px + 112 * ((100vw - 360px) /1040));
  width: 2px;
  background: #e4b56b;
}

.aboutus__text {
  font-weight: 500;
  font-size: calc(12px + 6 * ((100vw - 360px) /1040));
  line-height: 1.27778;
  color: #ffffff;
}

.aboutus__heading {
  font-weight: 500;
  font-size: calc(20px + 20 * ((100vw - 360px) /1040));
  color: #ffffff;
  padding: calc( 15px + 15 * ((100vw - 360px) /1000)) 0 calc( 15px + 20 * ((100vw - 360px) /1000)) 0;
}

.ab-why img {
  -o-object-fit: cover;
  object-fit: cover;
}

.ab-why__tc {
  left: 0;
  padding: 0 calc( 65px + 50 * ((100vw - 360px) /1000)) 0 calc( 15px + 75 * ((100vw - 360px) /1000));
}

.ab-why__tc::after {
  right: calc(20px + 40 * ((100vw - 360px) /1040));
}

.ab-advantages {
  margin-top: calc( 20px + 10 * ((100vw - 360px) /1000));
}

.ab-advantages img {
  -o-object-fit: cover;
  object-fit: cover;
}

.ab-advantages__tc {
  padding: 0 calc( 15px + 75 * ((100vw - 360px) /1000)) 0 calc( 65px + 50 * ((100vw - 360px) /1000));
  right: 0;
}

.ab-advantages__tc::after {
  left: calc(20px + 57 * ((100vw - 360px) /1040));
}

.i-arrow {
  background: url("../img/arrow.svg") center/contain no-repeat;
}

.i-search {
  background: url("../img/search.svg") center/contain no-repeat;
}

.dropdown {
  position: relative;
}

.dropdown select {
  display: none;
}

.dropdown__selected {
  cursor: pointer;
  position: relative;
  padding-right: 25px;
}

.dropdown .i-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 100%;
}

.dropdown.active .dropdown__wrapper {
  display: block;
}

.dropdown.active .i-arrow {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.dropdown__wrapper {
  padding: 10px 10px 0px 10px;
  background: rgba(62, 62, 62, 0.5);
  position: absolute;
  z-index: 2;
  left: -10px;
  display: none;
  margin-top: 20px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

img {
  max-width: 100%;
  min-height: 100%;
}

a {
  display: inline-block;
}

body {
  background-color: black;
  font-family: "Raleway";
}

.__container {
  max-width: 1360px;
  background-color: #fff;
  margin: auto;
}

.banner-slider {
  position: relative;
}

.banner-slider__container {
  width: 100%;
  overflow: hidden;
}

.banner-slider__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.banner-slider__pagination {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 15px;
}

.banner-slider__pagination [class*="bullet"] {
  cursor: pointer;
  margin: 0 calc( 5px + 2.5 * ((100vw - 360px) /1000));
  width: calc(8px + 6 * ((100vw - 360px) /1040));
  height: calc(8px + 6 * ((100vw - 360px) /1040));
  border-radius: 50%;
  background: #ffffff;
}

.banner-slider__pagination [class*="bullet"][class*="active"] {
  background: #e4b56b;
}

.bnr-slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: calc(216px + 232 * ((100vw - 360px) /1040));
  background: url("../img/banner.png") center/cover no-repeat;
  position: relative;
}

.bnr-slide__text-container {
  width: calc(252px + 498 * ((100vw - 360px) /1040));
  height: calc(110px + 150 * ((100vw - 360px) /1040));
  padding-left: calc(15px + 75 * ((100vw - 360px) /1040));
  padding-right: calc(15px + 15 * ((100vw - 360px) /1040));
  padding-top: calc(30px + 35 * ((100vw - 360px) /1040));
  padding-bottom: calc(30px + 35 * ((100vw - 360px) /1040));
  background: rgba(62, 62, 62, 0.9);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bnr-slide__text-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 84.66667%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(228, 181, 107, 0.8);
}

.bnr-slide__text {
  font-size: calc(13px + 25 * ((100vw - 360px) /1040));
  font-weight: 500;
  color: #ffffff;
  line-height: 1.9;
}

.heading {
  margin: calc( 20px + 10 * ((100vw - 360px) /1000)) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: calc(20px + 20 * ((100vw - 360px) /1040));
  font-weight: 600;
  color: #3e3e3e;
  position: relative;
}

.heading::after {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: calc(10px + 5 * ((100vw - 360px) /1040));
  content: "";
  height: 2px;
  width: 82px;
  display: block;
  background: #e4b56b;
}

.bg-gear {
  background: url("../img/gear.svg") center center/cover no-repeat;
}

.webp .bnr-slide {
  background: url(../img/banner.webp) center/cover no-repeat;
}

@media (max-width: 1000px) {
  .header__wrapper {
    height: 80px;
  }

  .h-nav__item {
    padding: 0 20px 9px;
  }

  .footer__about {
    -webkit-box-flex: 30%;
    -ms-flex: 30%;
    flex: 30%;
  }

  .footer__services {
    -webkit-box-flex: 70%;
    -ms-flex: 70%;
    flex: 70%;
    margin: 0;
  }

  .footer__contacts {
    margin: 30px 0 10px 0;
  }

  .footer__socials a:first-child {
    margin-left: 15px;
  }

  .footer__copyright {
    margin: 0px 0 10px 0;
  }
}

@media (max-width: 900px) {
  .h-nav__item {
    padding: 0 10px 9px;
  }
}

@media (max-width: 800px) {
  .services__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 750px) {
  .header__container {
    padding: 0 16px 0px 16px;
  }

  .header__container::after {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
  }

  .header__wrapper {
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__logo {
    padding: 2px 0;
    z-index: 4;
  }

  .header__nav {
    position: fixed;
    top: -100%;
    padding: 70px 0 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17.19%, #49494a), to(#383836));
    background: -o-linear-gradient(top, #49494a 17.19%, #383836 100%);
    background: linear-gradient(180deg, #49494a 17.19%, #383836 100%);
  }

  .header__search {
    height: 35px;
    border: 1px solid #ffffff;
    padding-right: 30px;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    right: 55px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .header__search input {
    background: #ffffff;
  }

  .header__search button {
    padding: 0 6px;
  }

  .header__search.active {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-color: rgba(62, 62, 62, 0.22);
  }

  .header__search.active input.active {
    width: 150px;
    padding: 0 0 0 12px;
  }

  .header__search.active button {
    background: #ffffff;
  }

  .header__lang {
    display: none;
  }

  .header__lang.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger {
    display: block;
  }

  .h-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .h-nav__item {
    padding: 20px 16px;
    height: auto;
    color: #ffffff;
  }

  .h-nav__item::before {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(228, 181, 107, 0.5);
  }

  .h-nav__item:first-child {
    padding: 15px 16px;
  }

  .h-nav__item:first-child::before {
    display: block;
  }

  .service-select .dropdown__selected {
    width: 100%;
  }

  .service-select .dropdown__wrapper {
    padding: 0;
    margin: 0;
    background: #3e3e3e;
  }

  .service-select .dropdown__wrapper .service-select__item {
    padding: 20px 16px;
  }

  .service-select .i-arrow {
    right: -5px;
    height: 11px;
    width: 21px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }

  .service-select.active .i-arrow {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
  }

  .footer__contacts-list {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .header__wrapper {
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__nav {
    padding-top: 60px;
  }

  .header__search {
    height: 30px;
  }

  .gear-bg {
    display: none;
  }
}