@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}
@mixin adaptiveValue($prop, $maxSize, $minSize, $type) {
   $addSize: $maxSize - $minSize;
   @if $type == 1 {
      #{$prop}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) /#{$maxWidthContainer - 320}));
   } @else {
      #{$prop}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 360px) /#{$maxWidth - 320}));
   }
} ;
