<section class="aboutus">
   <div class="heading">
      <p>Наша компания</p>
   </div>
   <div class="aboutus__chapter ab-why">
      <img src="./img/aboutus-1.png" alt="">
      <div class="aboutus__text-container ab-why__tc">
         <div class="aboutus__heading">
            <p>Почему мы?</p>
         </div>
         <div class="aboutus__text">
            <p>Люди – профессионалы с большим опытом работы. Полный спектр работ по металлообработке в одном месте –
               комплексный
               индивидуальный подход. Конструкторский отдел. Логистика. Многолетний опыт машиностроения – создание
               промышленного</p>
         </div>
      </div>
   </div>
   <div class="aboutus__chapter ab-advantages">
      <img src="./img/aboutus-2.png" alt="">
      <div class="aboutus__text-container ab-advantages__tc">
         <div class="aboutus__heading">
            <p>Наши преимущества</p>
         </div>
         <div class="aboutus__text">
            <p>Люди – профессионалы с большим опытом работы. Полный спектр работ по металлообработке в одном месте –
               комплексный
               индивидуальный подход. Конструкторский отдел. Логистика. Многолетний опыт машиностроения – создание
               промышленного</p>
         </div>
      </div>
   </div>

</section>