<header class="header">
   <div class="header__container">
      <div class="header__wrapper">
         <div class="header__logo">
            <img src="./img/logo.png" alt="">
         </div>
         <nav class="header__nav h-nav">
            <div class="h-nav__item">
               <a href="#"> Главная </a>
            </div>
            <div class="h-nav__item service-select dropdown">
               <div class="dropdown__selected">
                  <div class="service-select__item">
                     <a> Услуги </a>
                  </div>
                  <div class="i-arrow"></div>
               </div>
               <div class="dropdown__wrapper">
                  <div class="service-select__item">
                     <a> Услуги </a>
                  </div>
                  <div class="service-select__item">
                     <a> Услуги </a>
                  </div>
                  <div class="service-select__item">
                     <a> Услуги </a>
                  </div>
               </div>
            </div>
            <div class="h-nav__item">
               <a href="#">Наши работы</a>
            </div>
            <div class="h-nav__item">
               <a href="#">О нас</a>
            </div>
            <div class="h-nav__item">
               <a href="#">Контакты</a>
            </div>
         </nav>

         <div class="header__search">
            <input type="text" name="search-bar" id="search-bar" placeholder="Поиск">
            <button type="button">
               <img src="../img/search.svg" alt="ru">
            </button>
         </div>

         <div class="header__lang lang-select dropdown">
            <select name="lang" id="lang">
               <option value="ru" selected></option>
               <option value="ua"></option>
               <option value="uk"></option>
            </select>
            <div class="dropdown__selected">
               <div class="lang-select__item">
                  <img src="../img/ru.svg" alt="ru">
               </div>
               <div class="i-arrow"></div>
            </div>
            <div class="dropdown__wrapper">
               <div class="lang-select__item same-as-selected">
                  <img src="../img/ru.svg" alt="ru">
               </div>
               <div class="lang-select__item">
                  <img src="../img/ua.svg" alt="ua">
               </div>
               <div class="lang-select__item">
                  <img src="../img/uk.svg" alt="gb">
               </div>
            </div>
         </div>
         <div class="header__burger">
            <span></span>
         </div>
      </div>
   </div>
</header>