<section class="services">
   <div class="services__container">
      <div class="services__bg gear-bg">
         <div class="gear-bg__gr-1">
            <div class="gear-bg__small bg-gear"></div>
            <div class="gear-bg__medium bg-gear"></div>
            <div class="gear-bg__large bg-gear"></div>
         </div>
         <div class="gear-bg__gr-2">
            <div class="gear-bg__small bg-gear"></div>
            <div class="gear-bg__medium bg-gear"></div>
            <div class="gear-bg__large bg-gear"></div>
         </div>
      </div>
      <div class="heading">
         <p>Услуги</p>
      </div>
      <div class="services__wrapper">
         <div class="services__row">
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-1.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Производство оборудования</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-2.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Металлическая мебель</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-3.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Металлоконструкции</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-4.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Металлообработка</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-5.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Раскрой металла</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="services__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-6.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Конструкторское бюро</p>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <div class="services__row vehicles">
            <div class="vehicles__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-7.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Аренда техники</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="vehicles__col">
               <a href="#" class="services__service service">
                  <img src="./img/services-8.png" alt="">
                  <div class="service__text-container">
                     <div class="service__text">
                        <p>Ремонт техники</p>
                     </div>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="services__btn">
      <a href="#">Быстрый расчет цены по чертежу</a>
   </div>
</section>